---
layout: page
title: Dev
---


<style>
    .tag {
    border-radius: 5px;
    padding: 5px;
    font-size: 0.75rem;
    color: #fff;
    background-color: #3b3f47;
    opacity: 0.6;
    cursor: pointer;
    line-height: 2;
    transition: 0.5s;
}
</style>

<div class="category-wrap">
    <!--tags 출력 -->
    <!-- <h1 class="category-title">Tags </h3>
    <div style="margin-bottom: 20px;" class="tag-area">
        {% for tag in site.data.tags %}
        <small class="tag" data-tag="{{tag}}">{{ site.data.format[tag] }}</small>
        {% endfor %}
    </div> -->
    
    
    {% for list in site.category_list %}
    <h1 class="category-title"><a href="/dev/{{ list }}">{{ list | upcase }}</a></h3>

    <div class="posts-list">
        {% for post in site.categories[ list ] %}
        <!-- {% if post.tags %} -->
        <!-- {% for tag in post.tags %} -->
        <!-- {% if site.data.tags contains tag%} -->
        <div>
            <h4 data-{{ tag }}>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<small> - {{ post.date | date_to_string }}</small></a>      
            </h4>    
        </div>
        <!-- tags 출력 -->
        <!-- <span class="tag" data-tag="{{ tag }}">#{{ site.data.format[tag] }}</span> -->
        <!-- {% endif%} -->
        <!-- {% endfor %} -->
        <!-- {% endif %} -->
        {% endfor %}
    </div>

    <div style="margin-bottom: 50px;"></div>
    
    {% endfor %}
    
</div>